
# Single-region provider configuration

provider "cloudstack" {
  api_url    = "https://qa.cloudstack.cloud/simulator"
  api_key    = "R9fgYPT0SnOd8yuG8ToCD_q1Tdj6jmoKxqCuyxnUf4v3AEXIx_GdGcERuJguTpnXCNuPQPPB-3gFuDni76Lqrg"
  secret_key = "XfQuW6wwChuvX8QzMkCelahL8pIkVN78k103ZYPbNBJvZjxXPJnrDcv2qzl4ZTbG0O0gS7m5gvJMtdySTqNIKg"
}

